@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EFEFEF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior:smooth;
  scroll-padding-top: 80px;

}

h1 {
  font-size: 48px;
}

h2{
  font-size: 36px;
}

h3{
  font-size: 24px;
}

.blue{
  color: #4c3896;
}

.navbar{
  /* background: #4c3896; */
    position: sticky;
  top: 0;
}

.social__link{
  background: #4c3896;
}

.blue__background{
  background: #4c3896;

}

.blue__hover:hover{
  color: #4c3896;
}

.blue__border{
  border: 2px solid #4c3896;

}

.blue__background--l{
  background: #4c389627;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}


.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}


.modal__language{
  transition: all 300ms ease;
}

.language__name {
  transition: all 300ms ease;
}

.modal__language:hover .language__name {
  transform: scale(1);
}

.modal__language:hover {
  filter: brightness(80%);
  transform: scale(0.9);
  cursor:not-allowed;
}

.waving-hand{
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}


@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  15% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
  30% { transform: rotate(-8.0deg) }
  40% { transform: rotate(14.0deg) }
  50% { transform: rotate(-4.0deg) }
  60% { transform: rotate(10.0deg) }
  70% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
 100% { transform: rotate( 0.0deg) }
}

.height80{
  height: 60vh;
}